<div class="row" style="min-height: 80vh; display:flex; align-items: center;">

    <div class="col-md-6 offset-md-3 bg-light p-4 rounded shadow">
        <h1>New Ad</h1>
        <form method="post" action="/home/newAd">
            <input type="text" class="form-control" name="title" placeholder="Title" />
            <br />
            <input type="text" class="form-control " name="Details" placeholder="Details" />
            <br />
            <button class="btn btn-primary w-100 btn-lg">Save</button>
        </form>
    </div>

</div>